:root {
  --red: #ef959c;
  --gray: #dbc7be;
  --blue: #f1f3f5;
  --green: #8bd1c2;
  --base-bg: #8da1b9;
  --bg: #95adb6;
  background: var(--bg);
  font-family: "Quicksand", sans-serif;
}

button.btn-primary {
  background: var(--green);
  color: black;
}

button.btn,
button.btn-small {
  background: var(--gray);
  color: black;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: var(--blue);
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

article {
  background-color: var(--base-bg);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

form.create-form {
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form.create-form > h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

form.create-form > textarea {
  font-family: inherit;
  font-size: inherit;
  height: 6em;
  padding: 0.5em;
  border-radius: 4px;
  resize: none;
}

menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0;
  margin: 0;
}
